<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="created">Created</mat-option>
      <mat-option value="updated">Updated</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="strains">
  <div class="strain">
    <div class="strain-thumb-container">
      <img
        src="https://www.cannabisreports.com/images/strains/3/full_3a6b6fab2feea392859b19689798caafe27f3a73.jpg"
        alt="plant"
        class="strain-thumbnail"
      />
    </div>
    <div class="strain-description">
      <p class="strain-name">Name</p>
      <div class="strain-seedCompanies">
        <img src="assets/weed.jpg" alt="slug" class="strain-seedCompany" />
        <h4 class="strain-seedCompany-title">Purple Caper Seeds</h4>
      </div>
    </div>
  </div>
</div>
